<div class="next-steps my-5">
    <h2 class="my-5 text-center">Desjardins Member Advantages</h2>

    <!-- /.row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.desjardins.com/ressources/images/b35-produits-services.jpg?resVer=1461614578000" alt="Financial products and services">
          <div class="card-body">
            <h4 class="card-title">Financial products and services</h4>
            <p class="card-text">Take advantage of many discounts, cashbacks, attractive rates and promotions on Desjardins financial products and services.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.desjardins.com/ca/personal/member-advantages/financial-products-services/" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.desjardins.com/ressources/images/b35-offres-privileges.jpg?resVer=1461614578000" alt="Exclusive offers and privileges">
          <div class="card-body">
            <h4 class="card-title">Exclusive offers and privileges</h4>
            <p class="card-text">Get discounts and privileges from many retailers and partners.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.desjardins.com/ca/exclusive-offers-members/index.jsp?client=particuliers" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.desjardins.com/ressources/images/b35-service-assistance.jpg?resVer=1461614578000" alt="Assistance services">
          <div class="card-body">
            <h4 class="card-title">Assistance services</h4>
            <p class="card-text">Benefit from tips from experts, help and coordination services in the event of an emergency or as a preventive measure, in several areas.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.desjardins.com/ca/personal/member-advantages/assistance-services/" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <h2 class="my-5 text-center">Tips</h2>
        <p>Guidance to see you through</p>
        <ul>
          <li>Managing your personal finances</li>
          <li>Ensuring online security</li>
          <li>Advice for employers</li>
          <li>Advice for young people</li>
        </ul>
        <p>As you know, COVID-19 has disrupted our lives. For many, the pandemic has impacted the way they manage their finances. Our tips will help you stay on track to meet your financial and budget goals.</p>
        <div>
          <a href="https://www.desjardins.com/ca/covid-19/guidance/" class="btn btn-primary">See all our tips</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="https://www.desjardins.com/ressources/images/b00-img-conseils.png?resVer=1597257986000" alt="Tips">
      </div>
    </div>
    <!-- /.row -->



  </div>
